<div class="service-page">
    <h1>SERVICES</h1>
    <section class="service-container">
        <article class="service">
            <h2>Event and Special Ocassion Makeup</h2>
            <div class="img-description-btn-container">
                <div class="img-container">
                    <img src="https://makeup-by-ellie.s3.amazonaws.com/334328e9de74cbdc0-1630308212612"
                        alt="woman in a makeup">
                </div>
                <div class="description-container">
                    <p>A full face makeup application which includes a thorough consultation, skin prep and
                        complimentary lashes.</p>
                    <p class="duration"><strong>Duration: </strong>60 minutes</p>
                    <p class="cost"><strong>Cost: </strong>150</p>
                    <p>Appointment are held at my home studio in Altona Meadows.
                        Travel is available for bookings of 4 or more. (Travel costs apply)
                        A $50 non refundable, non transferable booking fee is required to secure your booking.</p><a
                        class="BtnBookNow" target="_blank" href="https://makeupbyellie.as.me/schedule.php"><button
                            class="btn">BOOK NOW</button></a>
                    <div class="CrudBtnsContainer"></div>
                </div>
            </div>
        </article>
        <div class="break"></div>
        <article class="service">
            <h2>Event and Special Ocassion Makeup</h2>
            <div class="img-description-btn-container">
                <div class="img-container">
                    <img src="https://makeup-by-ellie.s3.amazonaws.com/7c4a621c7dd6ec350-1630308296502"
                        alt="woman in a makeup">
                </div>
                <div class="description-container">
                    <p>A full face makeup application which includes a thorough consultation, skin prep and
                        complimentary lashes. </p>

                    <p> Simple hairstyling including, curls/waves and textured/messy buns.</p>

                    <p> Please note this is an in-studio service only.
                    </p>
                    <p class="duration"><strong>Duration: </strong>120 minutes</p>
                    <p class="cost"><strong>Cost: </strong>250</p>
                    <p>Appointments are held at my home studio in Altona Meadows.
                        Travel is not available for this service.

                        A $50 non refundable, non transferable booking fee is required to secure your booking.</p><a
                        class="BtnBookNow" target="_blank" href="https://makeupbyellie.as.me/schedule.php"><button
                            class="btn">BOOK NOW</button></a>
                    <div class="CrudBtnsContainer"></div>
                </div>
            </div>
        </article>
        <div class="break"></div>
        <article class="service">
            <h2>Bridal Trial Makeup</h2>
            <div class="img-description-btn-container">
                <div class="img-container">
                    <img src="https://makeup-by-ellie.s3.ap-southeast-2.amazonaws.com/75a083fbf086b06f0-1676971187928"
                        alt="woman in a makeup">
                </div>
                <div class="description-container">
                    <p>A full face makeup application, lux skin prep and complimentary lashes.</p>

                    <p> Bridal trials include an extra thorough consultation and in depth conversation about your
                        wedding and bridal look.
                        Advise on skin preparation/tanning/waxing leading up to your wedding day</p>
                    <p>
                        Extra time is taken to ensure you feel like the best version of yourself on your special day.
                        A face chart is created to ensure your bridal look can be recreated exactly on your wedding day.
                    </p>
                    <p class="duration"><strong>Duration: </strong>90 minutes</p>
                    <p class="cost"><strong>Cost: </strong>180</p>
                    <p>Appointments are held at my home studio in Altona Meadows.

                        A $50 non refundable, non transferable booking fee is required to secure your booking.</p>
                    <a class="BtnBookNow" target="_blank" href="https://makeupbyellie.as.me/schedule.php"><button
                            class="btn">BOOK NOW</button></a>
                    <div class="CrudBtnsContainer"></div>
                </div>
            </div>
        </article>
    </section>
</div>