@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Suranna&display=swap');

@font-face {
  font-family: "Voga";
}

$boujee: "Voga", "Suranna", serif;
$classy: "Montserrat", sans-serif;
